In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

# Importing DataSets

In [53]:
last_month_assortment= pd.read_csv('last_month_assortment.csv')
customer_features=pd.read_csv('customer_features.csv')
next_month_assortment=pd.read_csv('next_month_assortment.csv')
next_purchase_order=pd.read_csv('next_purchase_order.csv')
original_purchase_order=pd.read_csv('original_purchase_order.csv')
product_features=pd.read_csv('product_features.csv')

### working on individual CSV files

In [54]:
customer_features.head()

,customer_id,age_bucket,is_returning_customer,favorite_genres
0,1000078,46-55,True,"['Classic', 'History', 'Self-Help', 'Romance',..."
1,1000102,46-55,True,"['Beach-Read', 'Pop-Sci', 'Pop-Psychology', 'B..."
2,1000185,46-55,True,"['Romance', 'Self-Help', 'Beach-Read', 'Pop-Ps..."
3,1000423,26-35,True,"['Classic', 'Drama']"
4,1000696,66+,True,"['Drama', 'Thriller', 'Sci-Fi', 'Romance', 'Hi..."

- According to the problem statement we have to predict if we will be able to run the business
- Considering above statement we can remove `favorite_genres` as we are not building recommender system

In [55]:
customer_features.drop(columns='favorite_genres',inplace=True)

In [56]:
#dealing with age-bucket!!!
customer_features['age_bucket'] = customer_features['age_bucket'].replace('66+', '66')
customer_features['age_bucket'] = customer_features['age_bucket'].fillna('missing')
customer_features['age_bucket'] = customer_features['age_bucket'].astype(str)

In [57]:
customer_features['is_returning_customer']=le.fit_transform(customer_features['is_returning_customer'])
customer_features['age_bucket']=le.fit_transform(customer_features['age_bucket'])

In [58]:
customer_features.head()

   customer_id  age_bucket  is_returning_customer
0      1000078           4                      1
1      1000102           4                      1
2      1000185           4                      1
3      1000423           2                      1
4      1000696           6                      1

In [59]:
original_purchase_order.head()

   product_id  quantity_purchased  cost_to_buy  retail_value
0     1769808                  77         2.20         16.67
1     1896283                  67         1.46          9.59
2     1889979                  80         2.06         13.36
3     1341288                  85         1.25          6.57
4     1666328                  60         1.51         10.49

In [60]:
next_purchase_order.head()

   product_id  quantity_purchased  cost_to_buy  retail_value
0     1479507                  39         1.82         12.68
1     1681385                  55         1.73         12.88
2     1771749                  37         1.26         10.38
3     1605149                  49         1.47         11.27
4     1861356                  34         1.98         10.41

total cost for the company will be equal to sum of loan amount for `previuos_order`,`next_order`, shipping for `last_month assorment`,`next_moth assorment`

In [61]:
def loan_amount(df_quantity,df_cost):
    total_cost=df_quantity*df_cost
    return round(sum(total_cost),2)

In [62]:
last_month_loan=loan_amount(original_purchase_order.quantity_purchased,original_purchase_order.cost_to_buy)
print('last month loan : ',last_month_loan)
next_month_loan=loan_amount(next_purchase_order.quantity_purchased,next_purchase_order.cost_to_buy)
print('next month loan : ',next_month_loan)

last month loan :  135546.42
next month loan :  24155.51

In [63]:
le=LabelEncoder()

In [64]:
last_month_assortment.head()

   customer_id  product_id  purchased
0      1000078     1730073      False
1      1000078     1470520      False
2      1000078     1861356      False
3      1000078     1240824       True
4      1000078     1155460      False

In [65]:
last_month_assortment['purchased']=le.fit_transform(last_month_assortment['purchased'])

- Given one time shipment cost is 0.6
- Hence not purchased book will have 1.2 shipping cost

In [66]:
last_month_assortment['Shipping_cost']=last_month_assortment['purchased'].apply(lambda x : 0.6 if x==True else 1.2)
last_month_shipping_cost=round(sum(last_month_assortment['Shipping_cost']),2)
print('last month shipping cost : ',last_month_shipping_cost)

last month shipping cost :  35592.6

- Total revenue of the company can be calculated by sales of the books

In [67]:
last_month_sales=pd.merge(original_purchase_order,last_month_assortment,on='product_id')
last_month_sales.head()

,product_id,quantity_purchased,cost_to_buy,retail_value,customer_id,purchased,Shipping_cost
0,1769808,77,2.2,16.67,1024268,0,1.2
1,1769808,77,2.2,16.67,1029037,0,1.2
2,1769808,77,2.2,16.67,1040471,0,1.2
3,1769808,77,2.2,16.67,1049982,0,1.2
4,1769808,77,2.2,16.67,1064903,1,0.6

In [68]:
total_lasts_month_sales=round(sum(last_month_sales[last_month_sales['purchased']==True]['retail_value']),2)
print('total_lasts_month_sales : ',total_lasts_month_sales)

total_lasts_month_sales :  151617.36

In [69]:
product_features.head()

   product_id  length  difficulty  fiction      genre
0     1769808     148           3    False  Self-Help
1     1896283     161           5    False  Biography
2     1889979     296           4    False    History
3     1341288     551           4     True   Thriller
4     1666328     623          -1     True     Sci-Fi

In [70]:
product_features['difficulty']=le.fit_transform(product_features['difficulty'])
product_features['fiction']=le.fit_transform(product_features['fiction'])
product_features['genre']=le.fit_transform(product_features['genre'])

In [71]:
last_data=pd.merge(last_month_sales,customer_features,on='customer_id')
last_data=pd.merge(last_data,product_features,on='product_id')
last_data.head()

,product_id,quantity_purchased,cost_to_buy,retail_value,customer_id,purchased,Shipping_cost,age_bucket,is_returning_customer,length,difficulty,fiction,genre
0,1769808,77,2.2,16.67,1024268,0,1.2,7,1,148,3,0,9
1,1769808,77,2.2,16.67,1029037,0,1.2,7,1,148,3,0,9
2,1769808,77,2.2,16.67,1040471,0,1.2,4,1,148,3,0,9
3,1769808,77,2.2,16.67,1049982,0,1.2,3,0,148,3,0,9
4,1769808,77,2.2,16.67,1064903,1,0.6,5,1,148,3,0,9

In [77]:
X=last_data.drop(columns=['quantity_purchased','purchased','product_id','customer_id','Shipping_cost'])
y=last_data['purchased']

In [78]:
RF=RandomForestClassifier(n_estimators=50,verbose=True)
RF.fit(X,y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    1.4s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=None,
            oob_score=False, random_state=None, verbose=True,
            warm_start=False)

In [79]:
next_data=pd.merge(original_purchase_order,next_month_assortment,on='product_id')
next_data=pd.merge(next_data,customer_features,on='customer_id')
next_data=pd.merge(next_data,product_features,on='product_id')
next_data.head()

,product_id,quantity_purchased,cost_to_buy,retail_value,customer_id,age_bucket,is_returning_customer,length,difficulty,fiction,genre
0,1769808,77,2.2,16.67,1611773,3,1,148,3,0,9
1,1769808,77,2.2,16.67,1623382,4,0,148,3,0,9
2,1769808,77,2.2,16.67,1665963,5,1,148,3,0,9
3,1769808,77,2.2,16.67,1693623,3,0,148,3,0,9
4,1769808,77,2.2,16.67,1714004,3,1,148,3,0,9

In [80]:
df=next_data.drop(columns=['quantity_purchased','product_id','customer_id'])

In [81]:
pred=RF.predict(df)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.4s finished

In [83]:
print('no of books predicted to be purchased: ',sum(pred))
sum(pred)/X.shape[0]

no of books predicted to be purchased:  16967

0.47130555555555553

In [86]:
next_month_shipping = round((sum(pred)*0.6 + (X.shape[0]-sum(pred)*1.2)),2)
print('Shipping cost predictions for next month\'s assortment: ', next_month_shipping)

Shipping cost predictions for next month's assortment:  25819.8

In [87]:
#calculate sales for next month:
next_data['pred_purchase'] = pred
#data_next.head()
next_sales = round(sum(next_data['retail_value'].where(next_data['pred_purchase']==1, 0)),2)
print("Sale prediction for next month: ", next_sales)

Sale prediction for next month:  203742.18

In [88]:
#coming to the actual question now! if we'll be able to pay back loan and afford next book purchase?
total_cost_to_us = last_month_loan + next_month_loan + last_month_shipping_cost + next_month_shipping
total_sales = total_lasts_month_sales + next_sales
print("Did we make it? How much: ", round((total_sales - total_cost_to_us),2))

Did we make it? How much:  134245.21

As we are able to make money even after all the costs occurred to us.
We can conclude our business is profitable and we can go ahead with the business plan